html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#top {
  text-align: left;
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#content {
  margin-top: 100px;
  font-size: 2em;
  text-align: center;
  color: white;
}

.input {
  font-size: 1rem;
  width: 50%;
  margin: 0 auto;
}

.title {
  font-size: 1rem;
}

label {
  font-size: 1rem;
  color: white;
}